# Ignore Project Specific


# Ignore Project General
/data
/upload
log

# Codeigniter Specific
/application/logs/*

# Ignore Codekit's Personal Set & Sass Cache.
config.codekit
.codekit-cache
.sass-cache

# Ignore Intellij Env
.idea
*.iml

# Ignore Fire App Log
fire_app_log.txt
config.rb

# Ignore Sublime Text SFTP Log
sftp-config.json

# Ignore Image DS Store File
.DS_Store