@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

//
// Layout
// --------------------------------------------------
.wrap {
    width: 100%;
}
.container {
    width: 1512px;
    margin: 99px auto 80px;
}
.page-container {
    width: 1348px;
    margin: 0 auto;
    padding: 53px 0 80px;
}

//
// Header
// --------------------------------------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-width: 1512px;
    margin-top: 66px;
    padding-bottom: 31px;
    border: 1px solid #000;
    border-width: 1px 0;
    background-color: #efe4d5;

}
.header-in {
    position: relative;
    min-width: 1512px;
    max-width: 1900px;
    height: 66px;
    margin: -67px auto 0;
    padding: 16px 28px 0 15px;
    background-color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include clearfix;
    a {
        font-size: 11px;
    }
}
.logo {
    position: fixed;
    //top: 481px;
    top: 50%;
    left: 87px;
    z-index: 1000;
    width: 161px;
    height: 27px;
    background: url(../images/logo.png) no-repeat 0 0;
}
.nav {
    float: left;
    > li {
        position: relative;
        float: left;
        > a {
            display: block;
            padding: 10px 20px;
        }
    }
}
.nav-child {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1010;
    width: 589px;
    border: 1px solid #000;
    background-color: #fff;
    @include clearfix;
    .nav-child-title {
        padding: 10px 0 4px 22px;
        font-size: 11px;
        letter-spacing: 2px;
    }
    .nav-child-menu {
        float: left;
        padding: 5px 0 0 32px;
        a {
            display: block;
            padding: 5px 0;
        }
    }
    .img-link {
        float: right;
        padding: 0 40px;
        text-align: center;
        span {
            display: block;
            padding: 11px 0 13px;
        }
    }
}
.nav-member-link {
    float: right;
    margin-right: -12px;
    .search, .membership-link, .language {
        float: left;
        li {
            float: left;
            a {
                display: block;
                padding: 10px 12px;
            }
        }
    }
    .search {
        padding: 9px 0;
        .search-input {
            width: 80px;
            border: 1px solid #000;
            border-width: 0 0 1px;
        }
    }
    .membership-link {
        margin: 0 40px 0 28px;
    }
    .language li {
        a:before {
            display: inline-block;
            width: 2px;
            height: 8px;
            margin: 0 7px 0 -19px;
            border-left: 1px solid #e9e9e9;
            background-color: #000;
            content: '';
        }
        &:first-child a:before {
            width: 0;
            border-left: 0;
            margin-left: -7px;
        }
    }
}

.page-title {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.page-title-sub {
    font-family: 'Nanum Gothic', sans-serif;
}

//
// Main
// --------------------------------------------------
.main-arrivals {
    width: 100%;
    @include clearfix;
    span {
        float: left;
        width: 50%;
        padding: 78px 0;
        text-align: center;
        a {
            display: inline-block;
            width: 292px;
            font-size: 11px;
            line-height: (73-2)/11;
            letter-spacing: 2px;
            border: 1px solid #000;
            text-transform: uppercase;
        }
    }
}
.main-category {
    padding: 0 82px;
    @include clearfix;
}
.main-slide {
    float: left;
    margin: 0 189px 0 28px;
}
.main-link-category {
    float: left;
    margin: 0 29px 78px 0;
    .link-category {
        margin-bottom: 47px;
    }
    .link-comingsoon {
        float: left;
    }
    .link-introduction {
        float: right;
    }
}
.link-celebrity {
    float: left;
}
.link-offlineshop {
    float: right;
}

//
// List
// --------------------------------------------------
.category-nav-container {
    text-align: center;
    margin-top: -102px;
    @include clearfix;
}
.category-nav {
    position: relative;
    display: inline-block;
    float: none;
    margin-bottom: 82px;
    li {
        position: static;
        display: inline-block;
        float: none;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        a {
            padding: 0 25px;
        }
        &:first-child a {
            padding-left: 0
        }
        &:last-child a {
            padding-right: 0;
        }
    }
    .nav-child {
        display: none;
        position: absolute;
        top: 29px;
        left: 0;
        width: 100%;
        border: 0;
        background-color: transparent;
        li {
            float: left;
            font-size: 11px;
            a {
                padding: 0 12px;
                color: #474747;
            }
            &:first-child a {
                padding-left: 0
            }
            &:last-child a {
                padding-right: 0;
            }
        }
    }
}

.img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.product-info {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 15px 11px 15px 15px;
    background-color: rgba(255,255,255,.72);
    font-family: 'Nanum Gothic', sans-serif;
    @include clearfix;
    .product-name {
        float: left;
        .name {
            padding: 12px 0 4px;
            font-size: 12px;
        }
    }
    .product-price {
        position: inherit;
        bottom: 15px;
        right: 11px;
        float: right;
        .discount {
            display: block;
            margin-bottom: 5px;
            text-decoration: line-through;
        }
        .price {
            display: block;
            color: #e30000;
        }
    }
    &.info-center {
        padding: 28px 0 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        letter-spacing: 2px;
        .name {
            padding-bottom: 6px;
            font-size: 11px;
        }
        .price {
            font-size: 11px;
        }
    }
}
.product-list {
    max-width: 1346px;
    margin: 0 auto;
    @include clearfix;
    .list-title {
        padding: 96px 0 62px;
        font-size: 11px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        &.category-list-title {
            padding: 26px 0 117px;
            font-weight: 700;
            font-size: 14px;
        }
    }
    .item-container {
        margin: 0 -10px;
    }
    .item {
        float: left;
        width: 319px;
        height: 390px;
        margin: 0 11px 24px;
        a {
            display: block;
            position: relative;
            &:hover {
                .img-hover, .product-info {
                    display: block;
                }
            }
        }
    }
}
.category-nav-container {
    text-align: center;
    margin-top: -102px;
    @include clearfix;
}
.category-nav {
    position: relative;
    display: inline-block;
    float: none;
    margin-bottom: 82px;
    li {
        position: static;
        display: inline-block;
        float: none;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        a {
            padding: 0 25px;
        }
        &:first-child a {
            padding-left: 0
        }
        &:last-child a {
            padding-right: 0;
        }
    }
    .nav-child {
        display: none;
        position: absolute;
        top: 29px;
        left: 0;
        width: 100%;
        border: 0;
        background-color: transparent;
        li {
            float: left;
            font-size: 11px;
            a {
                padding: 0 12px;
                color: #474747;
            }
            &:first-child a {
                padding-left: 0
            }
            &:last-child a {
                padding-right: 0;
            }
        }
    }
}

//
// Detail
// --------------------------------------------------
.product-detail {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.detail-img {
    padding-bottom: 100px;
    img {
        display: block;
        width: 1200px;
    }
}
.detail-shop-info {
    position: absolute;
    top: 113px;
    right: -325px;
    width: 305px;
    .product-name {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 12px;
    }
    .price {
        display: block;
        margin-top: 8px;
        font-size: 22px;
        letter-spacing: 3px;
        em {
            margin-left: 2px;
            font-size: 21px;
            letter-spacing: 4px;
        }
    }
    .sharing-links {
        margin-top: 5px;
        a {
            margin-right: 7px;
        }
    }
    .detail-discription {
        margin: 12px 0 33px;
        padding: 10px;
        border: 1px solid #000;
        text-transform: capitalize;
    }
    .product-options {
        @include clearfix;
        .shop-selectbox {
            float: left;
            @include clearfix;
            label {
                float: left;
                margin-right: 4px;
                letter-spacing: 1.5px;
                vertical-align: middle;
            }
            .ui-state-default {
                float: left;
                width: 115px !important;
                height: 18px;
                .ui-icon {
                    height: 16px;
                    background: #e2e2e2 url(../images/sprite.png) no-repeat -60px -32px;
                }
            }
            .ui-selectmenu-button {
                span.ui-selectmenu-text {
                    line-height: (18-2)/11;
                }
                span.ui-icon {
                    margin-top: -8px;
                }
            }
            &:last-child {
                padding-left: 6px;
            }
        }
    }
    .product-options-button {
        margin-top: 14px;
        .button {
            display: block;
            margin-top: 4px;
        }
    }
}

.table-list {
    td.review-subject, td.qna-subject {
        text-align: left;
        word-break: break-all;
        a {
            width: auto;
            @include ellipsis;
        }
    }
    td.review-subject {
        padding: 9px 64px;
        a {
            max-width: 950px;
        }
    }
    td.qna-subject {
        padding: 9px 27px;
        a {
            max-width: 775px;
        }
    }
}
// Detail board col Width style
.col-review-name {
    width: 84px;
}
.col-qna-num {
    width: 92px;
}
.col-qna-lock {
    width: 29px;
}
.col-qna-name {
    width: 69px;
}
.col-qna-date {
    width: 112px;
}
.col-qna-hits {
    width: 69px;
}

.review {
    padding-bottom: 163px;
    .review-title {
        margin: 0 0 4px 20px;
        font-size: 11px;
        letter-spacing: 2px;
    }
    .paginate {
        padding: 18px 0 51px;
    }
    .review-register {
        padding: 15px 28px 18px;
        border: 1px solid #000;
        li {
            padding: 12px 0;
            label {
                vertical-align: top;
            }
        }
        .form-control {
            height: 18px;
            line-height: (18-2)/12;
        }
        textarea.form-control {
            height: 50px;
        }
        .button {
            vertical-align: top;
        }
    }
}
.qna {
    .paginate {
        padding: 18px 0 36px;
    }
}
.qna-search {
    text-align: center;
    * {
        vertical-align: middle;
    }
    label {
        margin-right: 14px;
        font-size: 13px;
    }
    .ui-state-default {
        height: 22px;
        .ui-icon {
            height: 22px;
            background: #e2e2e2 url(../images/sprite.png) no-repeat -60px -29px;
        }
    }
    .ui-selectmenu-button {
        span.ui-selectmenu-text {
            font-size: 12px;
            line-height: (22-2)/12;
        }
        span.ui-icon {
            margin-top: -11px;
        }
    }
    .form-control {
        line-height: (22-2)/12;
    }
    .button {
        font-size: 12px;
        line-height: (22-2)/12;
    }
}

//
// Order Sheet
// --------------------------------------------------
.order {
    width: 1200px;
    margin: 0 auto;
    &:before {
        display: block;
        width: 90px;
        height: 91px;
        margin: 76px auto 111px;
        background: url(../images/sprite.png) no-repeat 0 -150px;
        content: '';
    }
}
.order-title {
    margin-bottom: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    &:before {
        display: inline-block;
        width: 6px;
        height: 10px;
        margin-right: 4px;
        background: url(../images/sprite.png) no-repeat -120px -30px;
        content: '';
    }
}
.order-list {
    table {
        tfoot {
            strong {
                color: #a30000;
            }
        }
        td {
            span {
                display: block;
            }
        }
        .order-product {
            img {
                width: 54px;
                height: 73px;
                border: 2px solid #f6f6f6;
            }
        }
        .order-option {
            padding-left: 29px;
            text-align: left;
        }
        .order-price {
            padding-right: 15px;
            text-align: right;
        }
    }
}
// Order Sheet list col width style
.order-sheet {
    .order-product {
        width: 90px;
    }
    .order-option {
        width: 124px;
    }
    .order-quantity {
        width: 77px;
    }
    .order-price {
        width: 89px;
    }
    .order-saved-money {
        width: 80px;
    }
}
// Member Level
.member-level {
    margin: 55px 0 91px;
    border: 1px solid #000;
    @include clearfix;
    .level-mark {
        float: left;
        width: 90px;
        font-weight: 700;
        font-size: 40px;
        line-height: (92-2)/40;
        text-align: center;
    }
    .level-explain {
        float: left;
        padding: 15px;
        strong {
            color: #a30000;
        }
    }
}
// Orderer Information Input
.orderer-info {
    @include clearfix;
    .check-orderer {
        float: right;
        margin: 6px 0 24px;
    }
}
.cell-phone {
    .form-control {
        width: 74px;
    }
}
.cell-address {
    > div {
        margin-top: 7px;
    }
    .select-address {
        label {
            margin-right: 15px;
        }
    }
    .zip-code-input {
        .form-control {
            width: 60px;
        }
    }
    .address-input {
        .form-control {
            width: 364px;
        }
    }
}
.order-message {
    .form-control {
        width: 615px;
    }
}

// Orderer list col width style
.col-recipient-info {
    width: 117px;
}
// 적립금 사용
.saved-money {
    .saved-money-title {
        padding: 9px 0 25px;
    }
    .saved-money-box {
        padding: 11px 25px;
        border: 1px solid #000;
        .form-control {
            width: 60px;
        }
        .arrow {
            display: inline-block;
            width: 9px;
            height: 7px;
            background: url(../images/sprite.png) no-repeat -150px -30px;
        }
    }
}
// 쿠폰 사용
.coupon {
    .coupon-title {
        padding: 9px 0 25px;
    }
    .coupon-box {
        padding: 11px 25px;
        border: 1px solid #000;
        .form-control {
            width: 118px;
        }
        .subscript {
            margin-left: 14px;
        }
    }
}

//
// Cart
// --------------------------------------------------
// Order Sheet list col width style
.cart {
    .order-number {
        width: 56px;
    }
    .order-product {
        width: 109px;
    }
    .order-option {
        width: 120px;
    }
    .order-quantity {
        width: 110px;
    }
    .order-saved-money {
        width: 80px;
    }
    .order-price {
        width: 103px;
    }
    .order-shipping {
        width: 124px;
    }
    .order-cancel {
        width: 87px;
    }
}
// Cart List
.cart {
    .order-quantity {
        .form-control {
            width: 28px;
            height: 19px;
            font-size: 9px;
            line-height: (19-2)/9;
            text-align: right;
        }
    }
    .order-cancel {
        a {
            display: inline-block;
            margin-top: 4px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

//
// Join
// --------------------------------------------------
//Login
.login {
    position: relative;
    width: 377px;
    margin: 0 auto;
    padding: 38px;
    border: 1px solid #000;
    h3 {
        position: absolute;
        top: -9px;
        left: 50%;
        margin-left: -27px;
        padding: 0 8px;
    }
    .form-group {
        margin-top: 15px;
        &:nth-child(2) {
            margin-top: 0;
        }
        label {
            display: block;
            text-align: center;
        }
        .form-control {
            width: 100%;
            height: 32px;
            border-color: transparent;
            background-color: #f6f6f6;
            line-height: (32-2)/12;
        }
    }
    .login-find {
        padding: 0 0 20px;
        @include clearfix;
        span {
            float: left;
            width: 50%;
            text-align: center;
        }
    }
    .button-login {
        display: block;
        margin-top: 5px;
        background-color: #efe4d5;
        line-height: (32-2)/11;
        color: #000;
    }
}
// Join Type
.join-type {
    font-family: 'Nanum Gothic', sans-serif;
    h3 {}
    .join-member-type {
        width: 630px;
        margin: 0 auto;
    }
    .general-member {
        float: left;
        width: 50%;
        strong {
            color: #980000;
        }
    }
    .corporate-member {
        float: left;
        width: 50%;
        strong {
            color: #160075;
        }
    }
}