.icon {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat 0 0;
    line-height: 0;
    color: transparent;
    vertical-align: middle;
    &:hover {
        color: transparent;
    }
}

.icon-badge {
    display: inline-block;
    //margin-left: 35px;
    margin: 0 5px;
    padding: 0 4px;
    background-color: #000;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: (14/10);
    color: #fff;
    vertical-align: 1px;
    text-transform: lowercase;
    &:hover {
        color: #fff;
    }
}
.icon-search {
    width: 17px;
    height: 17px;
    background-position: 0 0;
}
.icon-facebook {
    width: 16px;
    height: 16px;
    background-position: -30px 0;
}
.icon-instagram {
    width: 16px;
    height: 16px;
    background-position: -60px 0;
}
.icon-lock {
    width: 9px;
    height: 13px;
    background-position: -90px -30px;
}
.icon-mic {
    width: 13px;
    height: 13px;
    background-position: -60px -60px;
}
.icon-doc {
    width: 13px;
    height: 11px;
    background-position: -90px -60px;
}
.icon-camera {
    width: 14px;
    height: 12px;
    background-position: -150px -60px;
    vertical-align: text-top;
}
.icon-reply {
    width: 17px;
    height: 15px;
    background-position: -120px -60px;
    vertical-align: top;
}
.icon-delete {
    width: 14px;
    height: 14px;
    background-position: -120px 0;
    vertical-align: text-top;
}
.icon-mobile {
    width: 34px;
    height: 64px;
    background-position: 0 -30px;
    vertical-align: middle;
}